.service_body{
    width: 100%;
}

.service_hero{
    width: 100%;
    height: max-content;
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service_hero h1{
    color: #fff;
    font-size: 34px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.service_hero h1 span{
    color: blue;
}

.service_hero p{
    color: #fff;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.service_card_container_section{
    width: 100%;
    padding: 20px 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 18px;
}


@media screen and (max-width: 768px){

    .service_hero{
        text-align: center;
        gap: 4px;
    }

    .service_card_container_section{
        width: 100%;
        padding: 20px 16px;
    }

}