.header_body{
    width: 100%;
    height: max-content;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
    border-bottom: 1px solid rgba(211, 211, 211, 0.233);
    position: sticky;
    top: 0;
    z-index: 9;
}

.header_logo_container{
    width: max-content;
    padding: 0px 6px;
    display: flex;
    align-items: center;
    gap: 16px;
    cursor: pointer;
}

.header_logo_container img{
    width: 50px;
    height: 40px;
    object-fit: contain;
    /* background-color: green; */
    padding: 10px;
    border-radius: 50px;
    border: 1px solid rgba(211, 211, 211, 0.453);
}

.header_logo_container p{
    color: #fff;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.header_nav_container{
    width: max-content;
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav_notactive, .nav_active{
    text-decoration: none;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

.nav_notactive{
    color: #fff;
}

.nav_active{
    color: blue;
}

.nav_notactive:hover, .nav_active:hover{
    border: 1px solid rgba(0, 0, 255, 0.479);
    border-radius: 50px;
    padding: 10px;
    font-size: 14px;
}

.header_icon{
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}

.menu_icon_container{
    width: max-content;
    height: max-content;
    font-size: 30px;
    color: #fff;
    display: none;
    z-index: 9;
}

.menu_container{
    width: 100%;
    height: 100vh;
    padding: 16px;
    background-color: rgb(58, 58, 210);
    position: absolute;
    z-index: 1;
    bottom: 0px;
    left: 0px;
    top: 0px;
    right: 0px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    clip-path: circle(11% at right top);
    transition: clip-path 500ms;
}

.menu_container.visible{
    clip-path: circle(100%);
}

.menu_links{
    font-size: 24px;
    font-family: "Poppins",sans-serif;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    visibility: hidden;
    opacity: 0;
    transition: visibility 500ms, opacity 500ms;
}

.menu_container.visible .menu_links{
    visibility: visible;
    opacity: 1;
}

.menu_social_icon_container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}



@media screen and (max-width: 768px) {

    .header_body{
        padding: 16px 16px;
    }

    .header_nav_container{
        display: none;
    }

    .menu_icon_container{
        display: flex;
    }

}